---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto">
    <main class="container mx-auto pt-24 px-4"> 
      <h1 class="text-4xl font-bold mb-6 text-white">Contacto</h1>
      <p class="text-slate-300">Próximamente...</p>
   </main>
</Layout>