<section id="about" class="min-h-screen flex items-center bg-slate-900 px-6 py-20">
  <div class="max-w-6xl mx-auto grid md:grid-cols-2 gap-12 items-center">
    
    <div id="about-image" class="opacity-0 translate-x-[-50px]">
      <div class="relative group">
        <div class="absolute -inset-1 bg-gradient-to-r from-blue-600 to-cyan-400 rounded-lg blur opacity-25 group-hover:opacity-50 transition duration-1000"></div>
        <img 
          src="/myPhoto.jpeg" 
          alt="Gabriel Herrera Yañez" 
          class="relative rounded-lg w-full max-w-md mx-auto shadow-2xl"
        />
      </div>
    </div>

    <div id="about-text" class="text-white opacity-0 translate-x-[50px]">
      <h2 class="text-4xl font-bold mb-6">Sobre <span class="text-blue-500">Mí</span></h2>
      <p class="text-slate-300 text-lg mb-4">
        ¡Hola! Soy Gabriel Herrera Yañez, Analista y Desarrollador de Software. 
        <br>
        Me apasiona obtener nuevos conocimientos y aplicarlos en el desarrollo de software, que me permitan dar soluciones a las necesidades de las empresas y personas.
        <br>
        Actualmente me encuentro realizando mis practicas en la empresa ST&T, donde he podido adquirir y aplicar conocimientos en el desarrollo de software.
      </p>
      <div class="space-y-4">
        <div class="flex items-center gap-3">
          <span class="text-blue-400 font-bold">Ubicación:</span>
          <span class="text-slate-400">Ibagué-Colombia</span>
        </div>
        <div class="flex items-center gap-3">
          <span class="text-blue-400 font-bold">Trabajo Actual:</span>
          <span class="text-slate-400">Pasante SENA en ST&T</span>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);


  gsap.to("#about-image, #about-text", {
    opacity: 1,
    x: 0,
    duration: 3,
    stagger: 0.3,
    scrollTrigger: {
      trigger: "#about",
      start: "top 50%",
      toggleActions: "play none none reverse"
    }
  });
</script>