<footer id="contacto" class="bg-slate-950 text-white py-12 border-t border-slate-800">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold mb-6">Conoce más de mí</h2>
    
    <div class="flex justify-center gap-6 mb-8">
      <a href="https://www.linkedin.com/in/gabrielherrera777/"  target="_blank" class="text-slate-400 hover:text-blue-400 transition-colors text-2xl">
        <i class="devicon-linkedin-plain"></i>
      </a>
      <a href="https://github.com/gabrielhy1986-coder" target="_blank" class="text-slate-400 hover:text-blue-400 transition-colors text-2xl">
        <i class="devicon-github-original"></i>
      </a>
    </div>
    <p class="text-slate-400 mb-8 max-w-md mx-auto">
      Estoy abierto a nuevas oportunidades y colaboraciones en proyectos de desarrollo.
    </p>

    <p class="text-slate-600 text-sm">
      &copy; {new Date().getFullYear()} Gabo.dev
    </p>
  </div>
</footer>